$TTL 86400
@   IN  SOA    {{zone_name}}. root.{{zone_name}}. (
        2011071001  ;Serial
        10        ;Refresh
        5        ;Retry
        10      ;Expire
        20       ;Minimum TTL
)
@	IN  NS		{{zone_name}}.
@	IN  A		{{dns_server_ip}}
